* {box-sizing:border-box;}
.cartHolder{
    float: right;
    margin-right: 3%;
    margin-top: 2%;
}
.cartHolder span.cartNum{
    background: #e32726;
    color: white;
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 2px;
}
#cartDetailPage{
    width: 300px;
    border: 1px solid #d0d0d0;
    z-index: 4;
    position: absolute;
    right: 20px;
    background: white;
    padding: 0px 0px 20px 0px;
    box-shadow: 3px 3px 5px #dfdfdf;
   
  }
  #cartDetailPage .closeBtn{
    text-align: right;
    font-size: 25px;
    padding-right: 9px;
    background: #eeeeee;
    padding-bottom: 5px;
    cursor: pointer;
   }
  .cartDetail .cartTotal {
      float: right;
  }
 .cardClicker{
     cursor: pointer;
     font-size: 17px;
 }
  .cartDetail div{
    float: left;
    font-size: 12px;
  }
  .checkoutAndPaypal, .cartDetail, .eachProduct{
      clear: both;
      padding: 10px 20px;
      border-bottom: 1px solid #e7e7e7;
  }
  .checkoutAndPaypal .proceed{
    background: red;
    padding: 15px 15%;
    border-radius: 4px;
}
.checkoutAndPaypal .paypal{
    margin: 10px;
}
.checkoutAndPaypal .proceed a, .checkoutAndPaypal .paypal a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.checkoutAndPaypal .paypal a{
    background: #019cde;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
}
.clearBoth{
    clear: both;
    /* padding: 10px; */
    float: none !important;
}
.eachProduct{
    font-size: 15px;
}
.qtyEditDelete div{
    float: left;
}
.thumbnail{
    width: 18%;
    float: left;
    margin-right: 2%;
}
.thumbnail img{
    width: 100%;
}
.otherInfo{
    width: 75%;
    float: right;
    text-align: left;
}
.otherInfo .clickText{
     font-size: 12px;
 }
 .otherInfo .clickText p {
    margin-block-start: 0px;
    color: #006bb4;
    font-weight: bold;
 }
 .otherInfo  .price{
    margin-bottom: 13px;
    font-size: 16px;
}
 .qty {
     width: 30%
 }
 .qty span{
     float: left;
     width: 47%;
     font-size: 12px;
 }
 .qty input{
     float: left;
     width: 47%;
     text-align: center;
 }
 .qtyEditDelete .edit,  .qtyEditDelete .delete{
     float: right;
     margin-left: 5px;
     font-size: 12px;
 }
.viewAndEdit{
    padding-top: 10px;
}
.viewAndEdit a{
    font-size: 14px;
    /* padding-top: 14px; */
}
.fullHeaderPart .logOutClick{
    cursor: pointer;
    text-decoration: underline;
}
.fullHeaderPart .menuHolder .parentUL{
    width: 650px !important;
    position: absolute;
    margin-top: 52px !important;
    z-index: 1;
    background: white;
    padding: 10px 8px;
}
.fullHeaderPart .menuHolder .parentUL li{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    float: left;
}
.fullHeaderPart .menuHolder .parentUL li .childUL{
    width: auto;
    position: relative !important;
    border: 0px;
    box-shadow: 0px 0px 0px;
}
.fullHeaderPart .menuHolder .parentUL li .childUL li{
    display: inline;
    display: inline-block;
    width: 100%;
}
.fullHeaderPart .menuHolder .cateItem a{
    cursor: pointer;
     
    padding: 10px 10px 20px 5px;
}
.fullHeaderPart .menuHolder .cateItem a:hover{
    border-bottom: 5px solid red;   
    border-spacing: 15px; 
}
.fullHeaderPart .menuHolder .cateItem a:focus{
    border-bottom: 5px solid red;   
    border-spacing: 15px; 
}
.App .fullHeaderPart .mainMenu .parentItem{
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.showMenu{
    transition: all 0.9s ease-out;
}
.openMenu{
    opacity: 1;
    transform: translateY(0%);   
}
.closeMenu{
    opacity: 0;
    transform: translateY(-100%);
}
.autoSuggest{
    background: #fafafa;
    margin-top: 46px;
    z-index: 2;
    position: absolute;
    width: 51.7%;
    box-shadow: 0px 2px 2px #d7d6d6;
}
.autoSuggest ul li{
    display: block;
    clear: both;
}
.autoSuggest ul li a{
    margin: 7px 12px;
    float: left;
    color: #0d0606;
    font-size: 14px;
}
.searchHeadBtn{
    margin: 0px;
    padding: 0px;
    background: red;
    color: white;
    float: left;
    border: 1px solid red;
    padding: 6px 9px;
    margin-top: 5px;
    margin-left: -5px;
}
.autoSuggestUL{
    width: 80%;
    float: left;
}
.closeAutoSuggest {
    width: 15%;
    float: right;
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
}